body {
  background-color: black;
  background-image: url(lightOffBG1.jpg);
  background-repeat: no-repeat;
}

#mainText {
  color: white;
}

#lightSwitch {
  background-color: transparent;
  width: 32px;
  height: 45px;
  position: absolute;
  top: 440px;
  left: 200px;
}
